
.bigoven-recipe, .bigoven-menu, .bigoven-recipe-tile, .bigoven-menu-tile, .bigoven-recipe p, .bigoven-menu p, .bigoven-recipe li {	
	letter-spacing: normal;
}
.bigoven-recipe p, .bigoven-menu p {
	line-height: 26px;		
}


/*.entry .bigoven-recipe {
	float: left;
	width: 75%;
}*/
.bigoven-recipe ul, .bigoven-recipe li, 
.entry .bigoven-recipe ul, .entry .bigoven-recipe li,  {
	list-style: none;
	padding-left: 0;
	margin-left: 0;	
	text-indent: 0;
}
.bigoven-recipe ul li::before {
	content: "";
}
.bigoven-options {
	text-align: right;
}

.bigoven-title-block {
	margin: 0 auto 10px;
	text-align: center;
	font-size: 1.6em
}


.bigoven-sub-title-block {
	font-size: 1.4em;
	font-weight: bold;	
	text-transform: none;
	letter-spacing: normal;
	word-spacing: normal;
}

.bigoven-hosted {
	text-align: right;
}
.bigoven-hosted a {	
	text-decoration: none;
}
.bigoven-left-col {
	width:  30%;
	float: left;	
}

.bigoven-right-col {
	width:  67%;
	float: right;	
}

.bigoven-menu .bigoven-left-col {
	width:  50%;
	float: left;	
}

.bigoven-menu .bigoven-right-col {
	width:  47%;
	float: right;	
}

.bigoven-recipe-image {
	margin: 8px 0px 20px 0;
	clear: both;
}
.bigoven-image-tile img, .bigoven-recipe-image img, .bigoven-menu-image img {	
	border: none;
	width:  100%;
	max-width:  100%;
}


.bigoven-ingredients li, .entry .bigoven-ingredients li {
	margin: 1em 0;
	text-align: left;
	text-indent: 0;
}

.bigoven-instructions {
	line-height: normal;
}
.bigoven-description p {
	margin: 0 0 2em;
}

.bigoven-instructions p {
	margin: 1em 0px;
}

.bigoven-column-container {
	padding: 5px;
	clear: both;
}

.bigoven-ingredients-column {
	clear: both;
	border: 5px;
}

.bigoven-instructions-column {
	border: 5px;
}

.bigoven-recipe-tile, .bigoven-menu-tile {
	width: 256px;
	height: 256px;
	overflow: hidden;
}

.bigoven-recipe-tile .bigoven-recipe-title-box,
.bigoven-menu-tile .bigoven-menu-title-box {
	width: 100%;
	height: 50px;	
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);	
	position: relative;
	top: -50px;
}

.bigoven-menu-tile .bigoven-menu-title-box {
	top:  0px;
}

.bigoven-recipe-tile a.bigoven-recipe-title,
.bigoven-menu-tile a.bigoven-menu-title {
	padding: 15px;
	margin: 0;	
	text-decoration: none;
	font-weight:normal;
	border: none;
	display: block;
	position: relative;
	top: -100px;
}

.bigoven-menu-tile a.bigoven-menu-title {
	top:  -50px;	
}

.bigoven-recipe a, 
.bigoven-menu a, 
.bigoven-recipe-tile a, 
.bigoven-menu-tile a,
.bigoven-recipe a:hover, 
.bigoven-menu a:hover, 
.bigoven-recipe-tile a:hover, 
.bigoven-menu-tile a:hover {
	background: none;
	border: none;
	text-decoration: none;
}

.bigoven-recipe-tile a, 
.bigoven-menu-tile a,
.bigoven-recipe-tile a:hover, 
.bigoven-menu-tile a:hover {
	color: #FFF;
	font-size: 14px;
}

.bigoven-recipe a:hover, .bigoven-menu a:hover, .bigoven-recipe-tile a:hover, .bigoven-menu-tile a:hover {
	text-decoration: underline;
}

.bigoven-recipe-tile .bigoven-recipe-title-box.bigoven-recipe-title-long {
	height: 60px;
	top:  -60px;
}

.bigoven-menu-tile .bigoven-menu-title-box.bigoven-menu-title-long {
	height: 60px;
	ztop:  -60px;
}

.bigoven-recipe-tile a.bigoven-recipe-title.bigoven-recipe-title-long {
	height: 60px;
	top:  -120px;
	line-height: 1.2em;
	padding-top: 10px;
}

.bigoven-menu-tile a.bigoven-menu-title.bigoven-menu-title-long {
	height: 60px;
	top:  -60px;
	line-height: 1.2em;
	padding-top: 10px;
}

.bigoven-recipe-tile.bigoven-float-left,
.bigoven-menu-tile.bigoven-float-left { float:left; margin: 8px; }

.bigoven-clear { clear: both;}

@media (max-width: 600px) {
	.bigoven-ingredients-column {
		clear: none;
	}
}

@media (max-width: 480px) {
	.bigoven-left-col {
		width:  100%;
		float: left;	
	}
	
	.bigoven-right-col {
		width:  100%;
		float: left;	
	}
	
}
