.bo-recipe {
    background: #eee;
    padding: 0.1em 1.4em 0.4em 1.4em;
    clear: both;
}
.ingredHeading {
    list-style-type: none;
    font-weight: bold;
    margin-left: -1.1em;
}
.bo-recipe-control {
    clear: both;
}
.bo-recipe-print-container {
    float: right;
    padding-top: 0.6em;
    clear: right;
}
.bo-recipe-save-container {
    float: right;
}
.photo-container >img {
    border-radius: 3px;
    border: 1px solid #aaa;
    margin-bottom: 0.7em;
}
.bo-recipe-save {
    background: url("http://media.bigoven.com/assets/images/save-recipe-download.png") no-repeat scroll 0 5px transparent;
    cursor: pointer;
    padding: 2px 0px 0px 20px;
    display: block;
    height: 20px;
}
.bo-recipe-save:hover {
    background-position: 0 -20px;
    cursor: pointer;
    text-decoration: none;
}
.bo-recipe-print {
    background: url("http://media.bigoven.com/assets/images/print-recipe-btn.png") no-repeat scroll 0 5px transparent;
    cursor: pointer;
    padding: 3px 0px 0px 20px;
    display: block;
    height: 20px;
    text-decoration: none;
    vertical-align: middle;
}
.bo-recipe-print:hover {
    background-position: 0 -18px;
    cursor: pointer;
    text-decoration: none;
}
